/*Paleta de Cores pré-definidas (até o momento)
Tons de Branco: #f0ffde #eeeeee
Tons de Roxo: #201b2c
Tons de Verde: #00ff88
Tons de Preto: #282828 e #11101D*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

/*Configurações da Barra de Rolagem - inicio*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #201b2c;
}

html::-webkit-scrollbar-thumb {
  background: #00ff88;
  border-radius: 5rem;
}

/*Configurações da Barra de Rolagem - fim*/

/*Configurações do corpo do html - inicio*/
body {
  background: #201b2c;
  overflow-x: hidden;
  box-sizing: border-box;
}

/*Configurações do corpo do html - fim*/
section {
  padding: 5rem 9%;
}

.cabecalho {
  text-align: center;
  margin-bottom: 2rem;
}

.cabecalho span {
  color: #00ff88;
  font-size: 2rem;
}

.cabecalho h1 {
  font-size: 4rem;
  color: #eeeeee;
}

/*Configurações dos Botões - inicio*/
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #00ff88;
  border: 0.2rem solid #00ff88;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #00ff88;
  color: #111;
}

.btn-form {
  display: block;
  width: 100%;
  background-color: #201b2c;
  color: #fff;
  margin-top: 1rem;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  cursor: pointer;
}

.btn-form:hover {
  background: #00ff88;
  color: #201b2c;
}

/*Configurações dos Botões - fim*/

/*Configurações do Cabeçalho - inicio*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #11101D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.0rem 9%;
}

.header .navbar a {
  font-weight: 400;
  font-size: 1.7rem;
  color: #aaa;
  margin: 0 1rem;
  cursor: pointer;
  text-decoration: none;
}

.header .navbar a:hover {
  color: #00ff88;
}

.header .btn {
  margin-top: 0;
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: .5rem;
  margin-left: .5rem;
  background: var(--bg-color-2);
  color: #eeeeee;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.header .icons div:hover {
  color: #00ff88;
  background: var(--orange);
}

.destaque {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 4rem;
  color: #eeeeee;

}

.destaque span {
  color: #00E77F;
}

.logo {
  font-size: 2.3rem;
  color: #eeeeee;
  font-weight: bolder;
  text-decoration: none;
}

#menu-btn {
  font-size: 2.5rem;
  color: #eeeeee;
  cursor: pointer;
  display: none;
}

/*Configurações do Cabeçalho - fim*/


/* Configuração Sidebar, menu lateral área logada*/
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.sidebar li a:hover {
  background: #FFF;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #00ff88;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #11101D;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #11101D;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

/* Configuração Sidebar, menu lateral área logada*/

/* Configuração sobre - inicio*/

.sobre .row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.sobre .row .image {
  flex: 1 1 40rem;
}

.sobre .row .image img {
  width: 100%;
}

.sobre .row .conteudo {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.sobre .row .conteudo h3 {
  text-align: justify;
  padding: 1rem;
  color: #fff;
  font-size: 5rem;
}

.sobre .row .conteudo span {
  text-align: justify;
  padding: 1rem;
  color: #00E77F;
  font-size: 3rem;
}

.sobre .row .conteudo p {
  text-align: justify;
  padding: 1rem;
  font-size: 2.5rem;
  color: #aaa;

}

/* Configuração sobre - fim*/

/*Configurações seção de apresentação - inicio*/
.home {

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 0rem;
}

.home .image {
  flex: 1 1 45rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 45rem;
}

.home .content h3 {
  color: var(--text-color-1);
  font-size: 4rem;
}

.home .content p {
  color: var(--text-color-2);
  font-size: 1.7rem;
  line-height: 1.7;
  padding: 1rem 0;
}

/* configurações do corpo do html - início*/



/* seção de serviços da nossa plataforma - inicio*/
.servicos .slide {
  background-color: #11101D;
  border-radius: .5rem;
  text-align: center;
  padding: 2rem;
  margin-bottom: 4rem;
  user-select: none;
}

.servicos .slide img {
  height: 25rem;
  width: 100%;
}

.servicos .slide h3 {
  margin: 1.5rem 0;
  font-size: 2rem;
  color: #eeeeee;
}

.servicos .slide p {
  text-align: justify;
  line-height: 2;
  font-size: 1.6rem;
  color: #aaaaaa;
}

.swiper-pagination-bullet {
  background-color: #eeeeee;
}

.swiper-pagination-bullet-active {
  background-color: #00E77F;
}

/* seção de serviços da nossa plataforma - fim*/

/*Configurações responsáveis pelo CSS do Login - inicio*/
.main-login {
  width: 100vw;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-login>h1 {
  font-size: 3vw;
  color: #00ff88;
}

.left-login-image {
  width: 30vw;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
}

.card-login>h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield>input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffde;
  font-size: 12px;
  outline: none;
  box-sizing: border-box;
}

.textfield>input::placeholder {
  color: #f0ffff94;
}

.textfield>label {
  color: #f0ffde;
  margin-bottom: 10px;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;

}

/*Configurações responsáveis pelo CSS do Login - fim*/

/* seção de apresentação de desenvolvedores - inicio */
.desenvolvedores .slide {
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;
  user-select: none;
}

.desenvolvedores .slide img {
  height: 55rem;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

.desenvolvedores .slide h3 {
  margin-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #eeeeee;
}

.desenvolvedores .slide .share {
  position: absolute;
  top: 1rem;
  left: -10rem;
}

.desenvolvedores .slide:hover .share {
  left: 2rem;
}

.desenvolvedores .slide .share a {
  display: block;
  margin-top: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background-color: #eeeeee;
  color: #11101D;
  text-align: center;
  font-size: 2rem;
}

.desenvolvedores .slide .share a:hover {
  background-color: #00E77F;
  color: #eeeeee;
}

/* seção de apresentação de desenvolvedores - inicio */

/*Configurações responsáveis pelo CSS do Painel de Controle- início*/

.banner {
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../imgs/banner-operadores.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;
  background-attachment: fixed;
  text-align: center;
}

.banner .conteudo h3 {
  font-size: 4rem;
  color: #fff;
  margin-top: 1rem;
}

/**/

.servicos .box-container {
  display: -ms-grid;
  display: flex;
  width: 70vw;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.servicos .box-container .box {
  background: #11101D;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #11101D;
}

.servicos .box-container .box:hover {
  border: 0.2rem solid #00ff88;
}

.servicos .box-container .box i {
  font-size: 4rem;
  color: #00ff88;
  margin-bottom: 2rem;
}

.servicos .box-container .box h3 {
  font-size: 2rem;
  color: #eeeeee;
}

.servicos .box-container .box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #eeeeee;
  line-height: 2;
}

/**/


.painel-relatorio {
  width: 40%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-top: -5rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 3rem 3rem;
  display: flex;
}


.painel-relatorio input {
  width: 90%;
  border: 0.2rem solid #201b2c;
  font-size: 1.6rem;
}

.painel-relatorio .icons .btn-form {
  background-color: #201b2c;
  color: #fff;
  cursor: pointer;
}

.painel-relatorio .icons .btn-form:hover {
  background: #00ff88;
  color: #201b2c;
}

.invisible {
  visibility: hidden;
}

.painel {
  width: 90%;
  margin-top: -5rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
}

.painel .icons i:hover {
  cursor: pointer;
}

.painel .icons label:hover {
  cursor: pointer;
}

.painel .icons input {
  width: 100%;
  border-radius: 1rem;
  border: 0.2rem solid #201b2c;
  font-size: 1.3rem;
}

.painel .icons button {
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  background: #201b2c;
  color: #f0ffde;
}

.painel-tabela {
  width: 90%;
  margin-top: -5rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.painel-tabela .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  width: 90%;
  background-color: #fff;
  text-align: left;
}

/*Configurações responsáveis pelo CSS do Modal no Painel de Controle- início*/
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

input {
  width: 100%;
  outline: none;
  text-transform: uppercase;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 5rem;
  border: 0.2rem solid #201b2c;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
}

label {
  outline: none;
  padding: 5px 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

select {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  border-radius: 5rem;
  border: 0.2rem solid #201b2c;
  color: #201b2c;
  text-transform: uppercase;
  outline: none;
}

.box {
  border: 0.2rem solid #000;
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  font-size: 1.6rem;
  color: #000;
  background: none;
  margin-top: 1rem;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked+.modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked+.modal .modal__inner {
  top: 0;
}

.modal__inner {
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 40%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {

  .modal label {
    font-size: 1.3em;
  }

  .modal__inner {
    width: 80%;
    box-sizing: border-box;
  }
}

/*Configurações responsáveis pelo CSS do Modal no Painel de Controle- fim*/

/*Configurações responsáveis pelo CSS da tabela do Painel de Controle- início*/

table {
  width: 100%;
  border-spacing: 10px;
  border-collapse: collapse;
  word-wrap: break-word;
}

h3 {
  color: var(--text-color-1);
  font-size: 2rem;
  text-align: center;
  padding: 2rem 2rem;
}

thead {
  background-color: #201b2c;
}

thead tr th {
  padding: 5px;
  color: #eeeeee;
  text-align: start;
  margin-bottom: 50px;
}

tr {
  font-size: 1.7rem;
  text-align: start;
  border-bottom: 1px solid rgb(238, 235, 235) !important;
}

tbody tr {
  margin-bottom: 50px;
  transition: transform 0.15s;
}

tbody tr td {
  padding: 6px;
  color: #282828;
  text-align: start;
  text-transform: uppercase;

}

tbody tr:hover,
tbody tr:focus {
  transform: translateX(.75rem);
}

tbody tr td a {
  color: #111;
  cursor: pointer;
  background: none;
}

/*Configurações responsáveis pelo CSS da tabela do Painel de Controle- fim*/

/*Configurações responsáveis pelo CSS do Painel de Controle- fim*/

/* Configurações do Formulário de Contato - inicio*/
.contato .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:1.5rem;
}

.contato .row .image{
  flex: 1 1 40rem;
}

.contato .row .image img{
  width: 100%;
}

.contato .row form{
  flex:1 1 40rem;
}

.contato .row form .box{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
  background-color: #11101D;
  font-size: 1.8rem;
  color:var(--white);
  padding:1.4rem;
  text-transform: none;
}

.contato .row form span{
  font-size: 1.6rem;
  color:#eeeeee;
}

.contato .row form .radio input{
  appearance: none;
  height: 2rem;
  width: 2rem;
  background-color: #eeeeee;
  cursor: pointer;
}

.contato .row form .radio input:checked{
  background-color: var(--green);
  border-radius: 5rem;
}

/* Configurações do Formulário de Contato - inicio*/
/*Configurações do Rodapé - início*/

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box {
  border: none;
}

.footer .box-container .box .logo {
  padding-bottom: 1rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #eeeeee;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #aaaaaa;
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: #00ff88;
}

.footer .box-container .box .share {
  padding-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid #00ff88;
  color: #00ff88;
  margin-right: .5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #00ff88;
  color: #eeeeee;
}

.footer .box-container .box .links {
  font-size: 1.4rem;
  color: #aaaaaa;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box .links:hover {
  color: #00ff88;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .links i {
  padding-right: .5rem;
  color: #00ff88;
}

.footer .box-container .box form .email {
  width: 100%;
  border-radius: 5rem;
  border: 0.2rem solid #00ff88;
  background: none;
  font-size: 1.5rem;
  text-transform: none;
  color: #aaaaaa;
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

.creditos {
  background: #201b2c;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #aaaaaa;
}

.creditos span {
  color: #00ff88;
}

.creditos i {
  color: #00ff88;
}

.creditos a {
  color: #00ff88;
}

/*Configurações do Rodapé - fim*/

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 3rem 2rem;
  }

  .card-login {
    width: 85%;
  }

  .home .row .conteudo h3 {
    font-size: 8rem;
  }

}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #282828;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }

  .servicos .box-container {
    display: grid;
  }

  .home .row .conteudo h3 {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 600px) {

  .modal {
    width: 90% !important;
  }

  .modal label {
    font-size: 1.7rem !important;
  }

  .main-login {
    flex-direction: column;
  }

  .left-login>h1 {
    display: none;
  }

  .left-login {
    width: 100%;
    height: auto;
  }

  .right-login {
    width: 100%;
    height: auto;
  }

  .left-login-image {
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  .painel .icons {
    padding: 3rem;
  }

  .painel-tabela {
    padding: 10rem;
  }

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: left;
  }

  table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .left-login-image {
    width: 80vw;
    outline: 0px;
  }

  .home .row .conteudo h3 {
    font-size: 5rem;
  }

  .destaque {
    font-size: 3rem;
  }
}